name: NPM Check Updates
on:
    workflow_dispatch:
    schedule:
        - cron: '0 0 * * *'
jobs:
    npm-check-updates:
        if: (github.event_name == 'schedule' && github.repository == 'patternfly-labs/react-form-wizard') || (github.event_name != 'schedule')
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
              with:
                  token: ${{ secrets.GH_TOKEN }}
            - uses: actions/setup-node@v2
              with:
                  node-version: '14'
            - run: npx npm-check-updates --doctor --upgrade --target minor
            - uses: EndBug/add-and-commit@v7
              with:
                  default_author: github_actions
                  message: Upgraded package dependencies
